build/*
dist/*
.DS_store
.idea/*
src/larnestpy.egg-info/
larnestpy/.DS_Store
larnestpy/larnestpy.egg-info/
larnestpy/__pycache__/
larnestpy/larnestpy.cpython-38-darwin.so
tests/__pycache__/
venv/
*.png